.banner {
  background: linear-gradient(
    -89deg,
    #f7f8fa00,
    #f7f8fa00,
    #142b54a4,
    #142b54a4
  );

  padding: 125px 0;
  &-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &-title {
    color: #ffffff;
    font-family: "Baskerville-Bold";
    font-size: 70px;
    font-weight: 400;
    line-height: 73px;
    & > span {
      color: #ffcd00;
      font-family: "Baskerville-BoldItalic";
    }
  }

  &-desc {
    width: 664px;
    height: 108px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 27px;
    margin-bottom: 40px;
    letter-spacing: -0.2px;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    padding: 80px 0;
    &-title {
      font-size: 50px;
      line-height: 60px;
    }
    &-desc {
      font-size: 15px;
      margin-bottom: 0px;
    }
  }
  button.button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    .mb-font-38 {
      font-size: 30px;
    }
    padding: 0;
    & > .container {
      padding: 0;
    }

    &-title {
      font-size: 34px;
      font-weight: 400;
      line-height: 41px;
    }
    &-desc {
      max-width: 100%;
      margin-bottom: 20px;
      height: auto;
    }

    button.button {
      justify-content: center;
      width: 100%;
      padding: 16px 0;
    }
    &-content {
      background: #0e2244;
      text-align: center;
      padding: 60px 20px 20px;
    }
    background: none;
    &-img {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}
