// Header

.topbar {
  background: #0e2244;
  border-bottom: 1px solid #979797;
}
.topbar-mobile {
  background: #0e2244;
}
.topbar-item {
  color: #ffffff;
}

.header-menu {
  background: #142c54;
}

.header-menu-item {
  margin-right: 20px;
}

.header-logo {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .header {
    &-logo {
      width: 80px;
    }
    &-menu-item {
      font-size: 15px;
      margin-right: 10px;
      &.button {
        padding: 15px 10px;
        font-size: 15px;
        margin-left: 10px;
      }
    }
  }

  .topbar-item {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .button-closed {
    width: 30px;
    height: 30px;
    border: 0;
    outline: none;
    background: transparent;
    position: absolute;
    // margin-top: 20px;
    top: 20px;
    right: 20px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .topbar-mobile-menu {
    border: 0;
    background: transparent;
  }
  .header {
    &-logo {
      z-index: 1;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-menu {
      &-link {
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.589);
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        padding: 0;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        &.active {
          transition: transform 0.3s ease-in-out;
          transform: translateX(0);
        }
      }

      &-item {
        margin-bottom: 20px;
      }
    }
  }
}
